/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    font-family: cursive;
}
.name{
    color: blue;
    margin: 30px;
}
.email{
    color: chocolate;
    margin: 30px;
} */


