/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

/* .parent{
    background-color: cyan;
    padding: 2em;
}
.child{
    background-color: yellow;
    padding: 24px;
}
@media(width<=500px){
    .parent{
        height: 200px;
        background-color: blue;
    }
} */


.container{
    height: 500px;
    background-color: cyan;
    margin: 100px;
}

.child{
    height: 40px;
    width: 40px;
    background-color: blueviolet;
    position: sticky;
    top: 50px;
}