/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body>div{
    background-color: cyan;
    margin: 48px;
    height: 200px;
    width: 200px;
}
.c1,.c2,.c3,.c4{
    background-color: blue;
    border: 4px dotted red;
    color: white;
    font-size: 30px;
    height: 75px;
    width: 75px;

}
.c2{
    position: relative;
    left: 75px;
}
.c3{
    position: relative;
    left: 75px;
} */



/* body>div{
    background-color: cyan;
    margin: 48px;
    height: 200px;
    width: 200px;
}

.c1,.c2,.c3,.c4{
    background-color: blue;
    border: 4px dotted red;
    color: white;
    font-size: 30px;
    height: 75px;
    width: 75px;

}
.c1{
    position: relative;
    top: 25px;
    left: 25px;
    z-index: 1;
}

.c2{
    position: relative;
    left: 75px;
}
.c3{
    position: absolute;
    right: 0px;
    top: 0px;
} */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body>div{
    background-color: cyan;
    margin: 48px;
    height: 200px;
    width: 200px;
}

.c1,.c2,.c3,.c4{
    background-color: blue;
    border: 4px dotted red;
    color: white;
    font-size: 30px;
    height: 75px;
    width: 75px;

}
.c1{
    position: absolute;

}
.c3{
    height: 100px;
    width: 100px;
    position: absolute;
    background-color: red;
}
.c4{
    position: relative;
    z-index: 1;
}
/* .c3{
    z-index: -1;
} */